.FilePreview .contentPreview {
    display: block;
    max-width: 200px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #d7d7d7;
    cursor: pointer;
}

.FilePreview .contentPreview img {
    max-width: 200px;
    max-height: 200px;
}