.FormPreview .metadata {
    display: inline-block;
}

.FormPreview .metadata time {
    margin-left: 0;
}

.FormPreview .raw {
    margin-top: 20px;
    line-height: 20px;
    font-family: monospace;
}