.preview {
    width: 80%;
    min-height: 36px;
    padding: 20px;
    margin: 20px 10%;
    background-color: #fefefe;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.preview .reference {
    font-weight: 700;
    margin-top: 0;
}

.preview .FileMeta {
    display: inline-block;
    margin-top: 0;
    cursor: default;
    font-size: 12px;
    color: #999;
}

.preview .fileIcon {
    font-size: 36px;
    float: left;
    margin-right: 20px;
}

.preview a {
    cursor: pointer;
}

.preview .actions {
    float: right;
    margin-top: -10px;
    opacity: 0;
}

.preview:hover .actions {
    opacity: 1;
}

.preview .actions a {
    margin-left: 10px;
    text-decoration: none;
}
