body {
  overflow: hidden;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* General */

.iconButton {
  display: block;
  float: left;
  cursor: pointer;
  margin: 10px;
}

/* App */

.App {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

.App-header {
  grid-row: 1;
  height: 70px;
  color: white;
  background-color: #18202E;
}

.App-header h2 {
  float: left;
}

.Sidebar {
  display: grid;
  grid-template-rows: 70px auto;
  grid-column: 1;
  background-color: #262E3E;
  /* #363656 */
}

.RoomList {
  grid-row: 2;

  padding: 0 10px;
}

.RoomList h3 {
  margin: 30px 10px 10px 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
}

.RoomList ul {
  list-style: none;
  margin: 10px 20px;
  padding: 0;
}

.RoomList ul li {
  margin-bottom: 10px;
}

.RoomList ul li a {
  text-decoration: none;
  color: #8190B0;
}

.RoomList ul li a:hover {
  color: #fefefe;
}

.RoomList ul li a span {
  margin-right: 4px;
}

.main {
  display: grid;
  grid-template-rows: 70px auto;

  grid-column: 2;

  background-color: #f0f0f0; 
}

/* Rooms */

.Room {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px auto;
  height: 100vh;
}

.Room.sidebar {
  grid-template-columns: 65% 35%;
}

#roomHeader {
  grid-row: 1;
  grid-column: span 2;
  height: 70px;
  padding: 0 20px;
  background-color: #343C4B;
  /* -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,50);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,50); */

  display: grid;
  grid-template-columns: 75% 25%;
}

#roomHeader .info {
  grid-column: 1
}

#roomHeader .actions {
  grid-column: 2;

  color: white;

  user-select: none;
}

#roomHeader h3 {
  color: #fff;
  font-weight: normal;
  margin: 10px 0;
}

#roomHeader .topic {
  color: #8190B0;
  font-style: italic;
  margin: 0;
}

.roomContent {

  display: grid;
  grid-template-rows: auto 60px;

  grid-row: 2;
  overflow-y: scroll;
}

/* Room Sidebar */

.roomSidebar {
  grid-column: 2;

  padding: 10px 20px;
  overflow-y: scroll;

  background-color: #ffffff;
  border-left: solid 1px #D7D7D7;
}

.closeSidebar {
  float: right;
  font-size: 16px;
}

/* Messages */

.MessageList {
  grid-row: 1;
  grid-column: 1;

  text-align: left;
  overflow-y: scroll;
  padding: 0;
}

.Message {
  padding: 0 20px;
}

.Message:hover {
  /* background-color: #eee; */
}

.Message .chat {
  padding: 10px 0;
  font-size: 14px;
  color: #333;
}

.Message .chat .author {
  font-weight: bold;
}

.Message .chat time {
  cursor: default;
  margin-left: 8px;
  font-size: 12px;
  color: #999;
}

.Message p {
  margin-top: 6px;
  margin-bottom: 0;
}

.Message .topic, 
.Message .presence,
.Message .join {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #999;
}

/* Participants List */

.ParticipantList {

}

.ParticipantList ul {
  list-style-type: none;
  margin: 0;
}

.presenceIcon {
  margin-right: 8px;
  font-size: 12px;
}



.presenceIcon.available { color: green; }
.presenceIcon.dnd { color: red; }
.presenceIcon.away { color: orange; }

/* Message Form */

.MessageForm {
  grid-row: 2;
  padding: 0 10px;
  height: 60px;
}

.MessageForm #sendMessage {
  width: calc(100% - 40px);
  padding: 10px;
  height: 24px;
  font-size: 16px;
  color: #333;
  border: solid 2px #ccc;
  border-radius: 6px;
}

.MessageForm #sendMessage:focus {
  border: solid 2px #999;
  outline: none;
}