body {
  overflow: hidden;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* General */

.iconButton {
  display: block;
  float: left;
  cursor: pointer;
  margin: 10px;
}

/* App */

.App {
  display: grid;
  grid-template-columns: 18% 82%;
  height: 100vh;
}

.App.noauth {
  grid-template-columns: 0% 100%;
}

.App-header {
  grid-row: 1;
  height: 70px;
  color: white;
  background-color: #18202E;
  user-select: none;
}

.App-header h2 {
  float: left;
}

.clearfix {
  clear: both;
}

/* User info */

.UserInfo .authenticated {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% 50%;
}

.UserInfo .authenticated .user {
  grid-row: 1;
}

.UserInfo .authenticated .presence {
  grid-row: 2;
}

.UserInfo a {
  color: #868FB1;
  padding: 4px;
}

.UserInfo a:hover {
  color: #ffffff;
}

.UserInfo .username p {
  margin: 14px 0;
}

.UserInfo .Select-control {
  width: 50px;
  margin: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none !important;
  float: left;
}

.UserInfo .Select-menu-outer {
  width: 200px;
  margin-top: 40px;
  margin-left: 5px;
}

/* Sidebar */

.Sidebar {
  grid-column: 1;
  background-color: #262E3E;
  user-select: none;
  overflow-y: scroll;
}

.sidebarWrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 70px auto 110px;
}

.RoomList {
  grid-row: 2;
  padding: 0 10px;
  overflow-y: scroll;
}

.RoomList h3 {
  margin: 30px 10px 10px 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
}

.RoomList ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}

.RoomList ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #8190B0;
  cursor: pointer;
}

.RoomList ul li a:hover {
  color: #fefefe;
}


.RoomList ul li a.active {
  border-radius: 4px;
  background-color: #3A465B;
  color: #ffffff;
}

.RoomList ul li a span {
  margin-right: 4px;
}

.badge {
  float: right;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #0084FF;
  border-radius: 10px;
}

.RoomList .iconButton {
  color: #8190B0;
}

.RoomList .iconButton:hover {
  color: #ffffff;
}

.RoomList .joinRoom {
  float: right;
  margin-top: -30px;
  font-size: 22px;
}

.RoomList .noRooms {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #8190B0;
}

.RoomList .noRooms a {
  color: white;
  cursor: pointer;
}

/* Main UI */

.main {

  display: grid;
  grid-template-rows: 70px auto;

  grid-column: 2;

  background-color: #f0f0f0; 
}

.Sidebar .footer {
  grid-row: 3;
}

.Sidebar .footer .controls {
  margin: 0 20px;
  padding-top: 12px;
  border-top: solid 1px #3A465B;
}

.Sidebar .footer a {
  display: block;
  margin: 10px;
  text-decoration: none;
  color: #8190B0;
  font-size: 14px;
}

.Sidebar .footer a:hover {
  color: #fff;
}

.Sidebar .footer .icon {
  margin-right: 5px;
}

/* Page */

.Page {
  height: 100vh;
  padding: 0 30px;
  overflow-y: scroll;
}

/* Forms */

form {
  font-size: 16px;
}

label {
  display: block;
  margin-top: 40px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 700;
}

label span {
  font-weight: normal;
  color: #888;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
  display: block;
  width: 400px;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px #ccc;
  outline: none;
  font-size: 16px;
  line-height: 22px;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
textarea:focus {
  border-color: #007eff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}

input[type='text']:disabled,
input[type='password']:disabled,
input[type='email']:disabled,
textarea:disabled,
.SendFormControl .sendForm.disabled {
  background-color: #f0f0f0;
}

.formSection {

}

.formSection h4 {
  font-size: 14px;
}

.formSection .sectionFields {
  padding: 0 20px;
  background-color: #f3f3f3;
}

.formSection .sectionFields .fieldgroup {
  width: 33%;
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
}

.formSection .sectionFields .fieldgroup label {
  margin-top: 20px;
}

.formSection input[type='text'],
.formSection input[type='password'],
.formSection input[type='email'],
.formSection textarea {
  width: 100%;
  box-sizing: border-box;
}

.cancelForm {
  margin-right: 10px;
}

.cancelForm:hover {
  background-color: #fff;
  color: #0084FF;
}

form .Select-control {
  width: 422px;
  padding: 4px 0;
}

form .Select-control .Select-placeholder,
form .Select-control .Select-value {
  padding-top: 4px;
  padding-bottom: 4px;
}

form .Select-control .Select-multi-value-wrapper .Select-value {
  padding-top: 0;
  padding-bottom: 0;
}

form p.hint {
  font-style: italic;
  font-size: 14px;
  margin: 4px 0 20px 0;
  color: #aaa;
}

form .actions {
  margin-top: 30px;
}

.formError {
  color: #cc0000;
  margin-bottom: -20px;
}

/* Rooms */

.Room {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px auto;
  height: 100vh;
}

.Room.sidebar {
  grid-template-columns: 75% 25%;
}

#roomHeader {
  grid-row: 1;
  grid-column: span 2;
  height: 70px;
  padding: 0 20px;
  background-color: #343C4B;
  user-select: none;

  display: grid;
  grid-template-columns: 75% 25%;
}

#roomHeader .info {
  grid-column: 1
}

#roomHeader .actions {
  grid-column: 2;
  padding-top: 12px;
  color: white;
  user-select: none;
}

#roomHeader .actions a {
  font-size: 18px;
  float: right;
}

#roomHeader h3 {
  color: #fff;
  font-weight: normal;
  margin: 10px 0;
}

#roomHeader .topic {
  color: #8190B0;
  font-style: italic;
  margin: 0;
}

.roomContent {
  display: grid;
  grid-template-rows: auto minmax(min-content, 70px);
  grid-row: 2;
  overflow-y: scroll;
}

.roomError {
  padding: 0 30px;
}

/* Room Sidebar */

.RoomSidebar {

  display: grid;
  grid-template-rows: 71px auto;

  overflow-y: scroll;

  grid-column: 2;
  overflow-y: scroll;
  background-color: #ffffff;
  color: #333;
  border-left: solid 1px #D7D7D7;
  user-select: none;
}

.sidebarHeader {
  grid-row: 1;
  height: 30px;
  padding: 20px;
  border-bottom: solid 1px #D7D7D7;
}

.sidebarHeader h2 {
  margin: 0;
  float: left;
  font-size: 20px;
  line-height: 30px;
}

.sidebarContent {
  grid-row: 2;
  padding: 10px 20px;
  clear: both;
  overflow-y: scroll;
}

.closeSidebar,
.closeModal {
  float: right;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  color: #777;
}

.closeSidebar:hover,
.closeModal:hover {
  color: #333;
}

/* Messages */

.MessageList {
  grid-row: 1;
  grid-column: 1;

  text-align: left;
  overflow-y: scroll;
  padding: 0;
}

.MessageList .Message:last-of-type .topic,
.MessageList .Message:last-of-type .presence {
  margin-bottom: 10px;
}

.Message {
  padding: 0 20px;
}

.Message .chat,
.Message .form {
  padding: 10px 0;
  font-size: 14px;
  color: #333;
}

.Message .chat .author,
.Message .form .author {
  font-weight: 700;
}

.Message time {
  cursor: default;
  margin-left: 8px;
  font-size: 12px;
  color: #999;
}

.Message p {
  margin-top: 6px;
  margin-bottom: 0;
  line-height: 22px;
  white-space: pre-line;
}

.Message .topic, 
.Message .presence,
.Message .join {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #999;
}

.FormPreview {
  width: 80%;
  min-height: 36px;
  padding: 20px;
  margin: 20px 10%;
  background-color: #fefefe;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.FormPreview time {
  margin-left: 0;
}

.FormPreview .icon {
  font-size: 36px;
  float: left;
  margin-right: 20px;
}

.FormPreview .reference {
  font-weight: 700;
  margin-top: 0;
}

.FormPreview a {
  cursor: pointer;
}

.FormPreview .actions {
  float: right;
  margin-top: -12px;
  opacity: 0;
}

.FormPreview:hover .actions {
  opacity: 1;
}

.FormPreview .actions a {
  margin-left: 10px;
}

.FormPreview .raw {
  margin-top: 20px;
  line-height: 20px;
  font-family: monospace;
}

/* Participants List */

.ParticipantList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: default;
  border-radius: 3px;
}

.ParticipantList ul li {
  font-size: 14px;
  padding: 8px;
}

.ParticipantList ul li:hover {
  
}

.ParticipantList h4 {
  margin-bottom: 10px;
}

.presenceIcon {
  margin-right: 8px;
  font-size: 12px;
}

.presenceIcon.available { color: #5CD068; }
.presenceIcon.dnd { color: red; }
.presenceIcon.away { color: orange; }

/* Forms List */

.FormsList .formSubmission {
  border: solid 1px #D7D7D7;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.formSubmission .description {
  margin-left: 50px;
}

.formSubmission .title {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 5px 0;
}

.formSubmission .meta {
  margin: 0;
  font-size: 14px;
}

.formSubmission .author {
  font-weight: bold;
  margin-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.formSubmission .date {
  display: inline-block;
  font-size: 12px;
  color: #999;
}

.formSubmission .formIcon {
  float: left;
  font-size: 36px;
  margin: 0 10px 0 0;
}

/* Message Form */

.MessageForm {
  grid-row: 2;
  padding: 0 10px 0 18px;
  min-height: 70px;

  overflow: hidden;

  display: grid;
  grid-template-columns: 60px auto;
}

.MessageForm .SendFormControl {
  grid-column: 1;
}

.MessageForm form {
  grid-column: 2;
}

.MessageForm #sendMessage {
  width: calc(100% - 40px);
  padding: 11px 10px;
  height: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  color: #333;
  border: solid 2px #ccc;
  border-radius: 6px;
  box-shadow: none;
}

.MessageForm #sendMessage:focus {
  border: solid 2px #999;
  outline: none;
}

.SendFormControl .sendForm {
  display: block;
  width: 30px;
  height: 24px;
  line-height: 24px;
  padding: 10px;
  font-size: 24px;
  background-color: #fff;
  border: solid 2px #ccc;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  color: #999;
}

.SendFormControl .sendForm:hover {
  border-color: #999;
}

.SendFormControl .sendForm.disabled:hover {
  border-color: #ccc;
}

/* Send Form */

.Modal {
  position: absolute;
  top: 50px;
  left: 25%;
  right: 25%;
  bottom: 50px;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  overflow-y: scroll;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.25);
}

.Modal .header {
  display: block;
  padding: 20px;
  background-color: #f0f0f0;
}

.Modal .header h3 {
  margin: 0;
}

.Modal .content {
  min-height: 300px;
  padding: 20px;
  overflow-y: scroll;
}

.Modal .controls {
  width: 420px;
  text-align: right;
  margin: 50px 0 20px 0;
  height: 30px;
}


.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.15);
}

.closeModal {
  line-height: 24px;
}

/* Misc */

.loading {
  margin: 100px auto;
}

.btn {
  padding: 11px 15px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #f3f3f3;
  color: #666;
  border: solid 1px #ccc;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.btn:hover {
  background-color: #fff;
  color: #0084FF;
}

input[type='submit'],
.primary-btn {
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #007eff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
}
  
input[type='submit']:hover,
.primary-btn:hover {
  box-shadow: inset 0 -3px rgba(0,0,0,.25)
}

input[type='submit']:active,
.primary-btn:active {
  box-shadow: none;
}